.navbar {
  margin-bottom: 0;
}
.fm-screenshot {
  background-image: url('/img/fmstudio.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin: 0 auto;
  max-width: 100%;
}
.jumbotron {
  background-color: #1f1f1f;
}
.jumbotron h1 {
  color: #dddddd;
}
.jumbotron p {
  color: #bbbbbb;
}
.is-logo {
  float: right;
  margin: 3em 0;
}
.footer {
  background-color: #1f1f1f;
  color: #bbbbbb;
  min-height: 100px;
  padding: 2em 0;
}
